  {{#each inventories as |inventory|}}
    <section data-id="{{inventory.id}}" class="inventory-listing">
      <h3>
        {{inventory.name}}
      </h3>
        <p>
          In Stock: {{inventory.quantity}}
        </p>
        <p>
          Price: ${{inventory.price}}
        </p>
        <p>
          {{> update-inventory id=inventory.id}}
        </p>
        <p>
          {{> delete-inventory id=inventory.id}}
        </p>

    </section>

    {{/each}}
