<td class="update-inventory" data-id="{{id}}">
  {{#if isEditing}}
  <input type="submit" class="btn btn-success" id="submit-edit" />
  {{else}}
  <i class="fas fa-edit" data-id="{{id}}"></i>
  {{/if}}
</td>
